{% extends "base.html" %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="about-hero">
    <div class="tw-w-full tw-h-full tw-p-[5%] tw-gap-4
                        tw-place-content-center
                        tw-justify-around tw-place-items-center
                        tw-flex max-lg:tw-flex-col">

        <!-- Left Section: Hero Content -->
        <div class="hero-content tw-flex tw-flex-col tw-place-content-center tw-max-w-[650px] tw-min-w-[550px] 
                            max-md:tw-min-w-[300px]">
            <h1 class="hero-title tw-text-6xl tw-font-bold tw-uppercase 
                            tw-leading-normal max-md:tw-text-3xl max-md:tw-leading-[70px]>">Conócenos y Contáctanos Hoy</h1>
            <p class="hero-text tw-mt-5 tw-p-2 tw-text-justify max-md:tw-max-w-full">
              Nos apasiona ofrecer soluciones contables personalizadas que simplifican tu vida financiera. Nos definen la 
              confiabilidad, la experiencia y un profundo compromiso con nuestra comunidad. Elige a un equipo dedicado a 
              tu éxito y contáctanos hoy mismo para comenzar a construir un futuro financiero sólido.
            </p>
        </div>
        
        <!-- Right Section: Social Icons and Form Link-->
        <div class="tw-max-w-[750px] 
        tw-place-content-center
        tw-place-items-center
        tw-flex tw-flex-col tw-gap-5
        tw max-md:!tw-mt-10">
        <div class="tw-flex tw-flex-col tw-gap-4 tw-text-black">
            <p class="tw-mt-3 tw-font-semibold tw-text-lg">Follow us</p>
            <div class="tw-flex tw-gap-4 tw-text-2xl">
                <a href="https://facebook.com/" aria-label="Facebook" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/pauls_freeman" aria-label="Twitter" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://instagram.com/" aria-label="Instagram" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <div class="hero-contact tw-flex tw-flex-col tw-gap-4 tw-place-items-center tw-text-black">
            <p class="tw-mt-3 tw-font-semibold tw-text-lg">No esperes, contactanos ya!</p>
            <a href="{% url 'contact-us' %}" class="btn btn-primary">Contact Us</a>
        </div>
        </div>
    </div>
</section>

<section class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-8 tw-w-full tw-px-[10%] tw-my-10 tw-mb-[5%]">
  
    <!-- First Card with Image and Text -->
    <div class="tw-bg-white tw-p-5 tw-rounded-lg tw-shadow-lg tw-flex tw-flex-row tw-items-center max-md:tw-flex-col tw-gap-8 tw-w-full lg:tw-w-1/2">
      <div class="tw-flex tw-justify-center tw-items-center">
        <img src="{% static './assets/images/home/Claudia-Headshot-2.jpg' %}" alt="Profile Image" class="tw-w-[200px] tw-h-[200px] tw-rounded-lg tw-shadow-lg hero-image">
      </div>
      <div class="tw-flex-1 tw-mt-4 lg:tw-mt-0">
        <p class="tw-text-justify tw-text-lg max-md:tw-text-base">
          Claudia Principal ha forjado una carrera sólida dedicada a ayudar a empresas y emprendedores a gestionar 
          sus finanzas con éxito. Como graduada de Greenville University en Contabilidad y Negocios, ha mantenido un 
          enfoque constante en el aprendizaje continuo y la excelencia profesional. Además de su éxito académico, 
          Claudia también formó parte del equipo de tenis universitario, donde desarrolló una fuerte ética de trabajo 
          en equipo y habilidades que ha trasladado a su vida profesional. A lo largo de su carrera, ha trabajado con 
          diversas empresas, brindando soluciones personalizadas que se ajustan a las necesidades financieras específicas 
          de cada cliente.
        </p>
      </div>
    </div>
  
    <!-- Second Card with Text and Images -->
    <div class="tw-bg-white tw-p-5 tw-rounded-lg tw-shadow-lg tw-flex tw-flex-col tw-w-full tw-items-center">
      <p class="tw-text-justify tw-text-lg max-md:tw-text-base tw-mb-4">
        Originaria de Barquisimeto, Venezuela, Claudia creció rodeada de la dinámica cultura de su país, lo que inspiró 
        su deseo de ayudar a su comunidad. Esta pasión la llevó a establecerse en Estados Unidos, donde ha dedicado su carrera 
        a apoyar a la comunidad latina, ayudándolos a superar desafíos fiscales y alcanzar sus metas financieras. Hoy, Claudia 
        disfruta colaborar activamente en la comunidad local y sigue comprometida en ofrecer un servicio basado en la confianza, 
        la transparencia y el compromiso. Ya sea dentro o fuera de la oficina, Claudia está lista para llevar tus finanzas al 
        siguiente nivel.
      </p>
      <div class="tw-flex tw-flex-row max-md:tw-flex-col tw-gap-4 tw-mt-4 tw-justify-around">
        <img src="{% static './assets/images/home/Venezuela.jpg' %}" alt="Landscape Image 1" class="tw-w-[40%] max-md:tw-w-full tw-object-cover tw-rounded-lg tw-shadow-lg hero-image">
        <img src="{% static './assets/images/home/Greenville-University.jpg' %}" alt="Landscape Image 2" class="tw-w-[40%] max-md:tw-w-full tw-object-cover tw-rounded-lg tw-shadow-lg hero-image">
      </div>
    </div>
    
  </section>

  <section class="tw-w-full tw-flex 
                    tw-place-content-center 
                    tw-px-[10%]
                    tw-p-4
                    tw-gap-[10%]
                    tw-place-items-center
                    max-md:tw-flex-col
                    tw-overflow-hidden
                    cta-section
                    "
                    >
        <div class="tw-flex tw-flex-col tw-place-items-center tw-gap-2">
            <h3 class="tw-text-4xl tw-text-white tw-font-bold max-md:tw-text-3xl">¡Simplifica tu vida financiera hoy! Confía en nuestros expertos contables para llevar tus finanzas al siguiente nivel.</h3>
            <a class="btn tw-mt-4 tw-rounded-xl hover:tw-scale-[1.05] tw-duration-[0.3s]"
                href="{% url 'contact-us' %}">
                Comienza Ahora!
            </a>
        </div>
    </section>
            

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}