{% extends "base.html" %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="about-hero">
    <div class="hero-container w-w-full tw-h-full tw-p-[5%] tw-gap-4
                        tw-place-content-center
                        tw-justify-around tw-place-items-center
                        tw-flex max-lg:tw-flex-col">

        <!-- Left Section: Hero Content -->
        <div class="hero-content tw-flex tw-flex-col tw-place-content-center tw-max-w-[650px] tw-min-w-[550px] 
                            max-md:tw-min-w-[300px]">
            <h1 class="hero-title tw-text-6xl tw-font-bold tw-uppercase 
                            tw-leading-normal max-md:tw-text-5xl max-md:tw-leading-[70px]>">Conócenos y Contáctanos Hoy</h1>
            <p class="hero-text tw-mt-5 tw-p-2 tw-text-justify max-md:tw-max-w-full">
                Nos apasiona brindar soluciones contables personalizadas que simplifican tu vida financiera. 
                Confiabilidad, experiencia, y un enfoque centrado en la comunidad son los valores que nos definen.
                Elige a un equipo comprometido con tu éxito y contáctanos hoy mismo para comenzar.
            </p>
        </div>
        
        <!-- Right Section: Social Icons and Form Link-->
        <div class="tw-max-w-[750px] 
        tw-place-content-center
        tw-place-items-center
        tw-flex tw-flex-col tw-gap-5
        tw max-md:!tw-mt-10">
        <div class="tw-flex tw-flex-col tw-gap-4 tw-text-black">
            <p class="tw-mt-3 tw-font-semibold tw-text-lg">Follow us</p>
            <div class="tw-flex tw-gap-4 tw-text-2xl">
                <a href="https://facebook.com/" aria-label="Facebook" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/pauls_freeman" aria-label="Twitter" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://instagram.com/" aria-label="Instagram" class="tw-text-black tw-hover:text-gray-600">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <div class="hero-contact tw-flex tw-flex-col tw-gap-4 tw-place-items-center tw-text-black">
            <p class="tw-mt-3 tw-font-semibold tw-text-lg">No esperes, contactanos ya!</p>
            <a href="{% url 'contact-us' %}" class="btn btn-primary">Contact Us</a>
        </div>
        </div>
    </div>
</section>
            

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}