{% load static %}
{% load static tailwind_tags %}
{% load django_browser_reload %}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'assets/logos/cpanda-full.ico' %}" type="image/png">
    
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock title %} {% settings_value "PROJECT_TITLE" %}</title>
    <meta name="description" 
            content="{% block description %}CP & A is an accounting firm in St. Louis specializing in personalized tax and accounting services for the Latino community. Helping businesses and individuals manage their finances with confidence.{% endblock description %}">

    <meta name="keywords" content="{% block keywords %}CP & A, accounting, tax, Latino, St. Louis, Missouri{% endblock keywords %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block socialTitle %}CP & Advisors{% endblock socialTitle %} Project" />
    <meta property="og:description" 
                        content="{% block socialDescription %}CP & A is an accounting firm in St. Louis specializing in personalized tax and accounting services for the Latino community. Helping businesses and individuals manage their finances with confidence.{% endblock socialDescription %}" />
    <meta property="og:type" content="{% block pageType %}website{% endblock pageType %}" />
    <meta property="og:url" content="{% block pageLink %}{{ request.build_absolute_uri }}{% endblock pageLink %}" />
    <meta property="og:image" content="{% block pageImage %}{{ request.scheme }}://{{ request.get_host }}{% static "./assets/images/home/hiking4.jpg" %}{% endblock pageImage %}" />

    <!-- Twitter -->
    {% comment %} 
    `some of the meta tags specific to twitter has been dropped in favor of OG tags, Since twitter also supports OG tags as fallback
    https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
    {% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    {% comment %} <meta name="twitter:title" content="{% block twitterTitle %}Project{% endblock twitterTitle %}">
    <meta name="twitter:description" content="{% block twitterDescription %}Description Here{% endblock socialDescription %}"> {% endcomment %}
    {% comment %} <meta name="twitter:image" content="{% block pageImage %}http://www.example.com/image.jpg{% endblock pageImage %}"> {% endcomment %}
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static "./css/index.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value "ANALYTICS_TAG_ID" %}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{% settings_value "ANALYTICS_TAG_ID" %}');
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    {% block head_tags %}
    {% endblock head_tags %}

</head>
    
{% comment %} <body class="tw-min-h-[100vh]" data-bs-theme="dark"> {% endcomment %}
<body class="tw-min-h-[100vh] tw-w-full tw-bg-[#ffffff] tw-flex tw-flex-col">
    
    <div id="toast" class="tw-p-2 tw-px-4 tw-bg-black tw-h-max tw-z-[5000] tw-fixed 
                            tw-top-[5%] tw-left-[50%] tw-translate-x-[-50%] 
                            tw-place-items-center
                            tw-hidden tw-rounded-md
                            tw-border-0 tw-text-white" 
                    role="alert">
        <div class="tw-flex tw-gap-1">
          <div class="toast-body" id="toast-body">
           
          </div>
          <button type="button" class="bi bi-x tw-text-lg" aria-label="Close"></button>
        </div>
    </div>

    <header class="tw-flex tw-w-full tw-z-20
                    tw-h-[60px]  
                    lg:tw-justify-around
                    tw-absolute tw-top-0 tw-px-[10%]
                    max-lg:tw-mr-auto
                    tw-text-black
                    ">

        <a class="tw-w-[100px] tw-h-[50px] tw-p-[4px]" href="{% url "home" %}">
            <img src="{% static "assets/logos/cp&a-logo.png" %}" 
                  alt="logo" class="tw-w-full tw-h-full tw-object-contain">

        </a>
        <div class="collapsable-header animated-collapse max-lg:tw-shadow-md"
                    id="collapsed-header-items"
                    >
            <div class=" tw-w-max
                            tw-text-base 
                            tw-flex tw-gap-5 tw-h-full lg:tw-mx-auto
                            lg:tw-place-items-center 
                            max-lg:tw-place-items-end
                            max-lg:tw-flex-col
                            max-lg:tw-mt-[50px]
                            max-lg:tw-gap-5
                            tw-text-black
                        ">
                    
                <a class="header-links" href="{% url "about" %}">
                    Sobre Nosotros
                </a>
                <a class="header-links" href="{% url "services" %}">
                    Servicios
                </a>
                <a class="header-links" href="{% url "blogs" %}"
                        rel="noreferrer"
                        >
                    Blogs
                </a>
                <a class="header-links" href="{% url "contact-us" %}"
                        rel="noreferrer"
                        >
                    Contáctanos
                </a>
            </div>
            {% comment %} This section is commented until it's functionality is implemented {% endcomment %}
            {% comment %} <div class="tw-flex tw-gap-[20px] tw-place-items-center tw-text-xl
                         max-lg:!tw-text-white
                         max-lg:tw-place-content-center
                        max-lg:tw-w-full
                         max-lg:tw-place-items-start
                         ">
                <a href="" 
                        class=" header-links
                                tw-transition-colors
                                tw-duration-[0.3s]
                                "
                        >
                    Español
                </a>
                <a href="" 
                        class=" header-links
                                tw-transition-colors
                                tw-duration-[0.3s]
                                "
                        >
                    English
                </a>
            </div> {% endcomment %}
        </div>
        <button class="tw-absolute tw-text-black tw-z-50 
                        tw-right-3
                        tw-top-3
                        
                         tw-text-3xl  bi bi-list lg:tw-hidden" 
                onclick="toggleHeader()" aria-label="menu" id="collapse-btn">
            <!-- <i class="bi bi-list"></i> -->
        </button>
    </header>

    <div class="tw-w-full tw-h-full tw-mt-[50px]">
        {% block content %}{% endblock content %}
    </div>
    <footer class="tw-w-full tw-p-[5%] tw-px-[3%] tw-mt-auto tw-border-t tw-border-gray-300 tw-bg-gray-100">
        <div class="tw-flex tw-place-content-around tw-gap-10 tw-flex-wrap max-md:tw-flex-col">
            <!-- Left Section: Logo and Contact Information -->
            <div class="tw-flex tw-gap-10 tw-items-start max-md:tw-flex-col">
                <img src="{% static 'assets/logos/cp&a-logo.png' %}" 
                     alt="logo" 
                     class="tw-max-h-[150px] max-md:tw-max-w-[120px] tw-flex-col">
                <div class="tw-flex tw-flex-col tw-text-black tw-gap-4">
                    <p class="tw-text-lg tw-font-bold">Contact Info:</p>
                    <p>+1 (314) 365-0104</p>
                    <p>cpandacct@gmail.com</p>
                    <p>11520 Saint Charles Rock Rd. Suite 201</p>
                    <p>Bridgeton, MO 63044</p>
                </div>
            </div>
    
            <!-- Center Section: Navigation Links -->
            <div class="tw-flex tw-flex-col tw-gap-4 tw-text-lg tw-text-black">
                <h2 class="tw-text-lg tw-font-bold">Links</h2>
                <div class="tw-flex tw-flex-col tw-gap-3">
                    <a href="{% url 'home' %}" class="footer-link">Inicio</a>
                    <a href="{% url 'about' %}" class="footer-link">Sobre Nosotros</a>
                    <a href="{% url 'services' %}" class="footer-link">Servicios</a>
                    <a href="{% url 'blogs' %}" class="footer-link">Blogs</a>
                </div>
            </div>
    
            <!-- Right Section: Social Icons -->
            <div class="tw-flex tw-flex-col tw-gap-4 tw-text-black">
                <p class="tw-font-bold tw-text-lg tw-text-center">Síguenos</p>
                <div class="tw-flex tw-gap-4 tw-text-2xl social-media">
                    <a href="https://facebook.com/" aria-label="Facebook" class="tw-text-black tw-hover:text-gray-600">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://twitter.com/pauls_freeman" aria-label="Twitter" class="tw-text-black tw-hover:text-gray-600">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://instagram.com/" aria-label="Instagram" class="tw-text-black tw-hover:text-gray-600">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://linkedin.com/" aria-label="LinkedIn" class="tw-text-black tw-hover:text-gray-600">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://wa.me/13143650104" aria-label="WhatsApp" class="tw-text-black tw-hover:text-gray-600">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- Bottom Section: Copyright and Footer Link -->
        <div class="tw-mt-4 tw-border-t tw-border-gray-300 tw-pt-4 tw-text-sm tw-text-gray-600 tw-flex tw-justify-center tw-items-center tw-place-content-around">
            <p>© 2024 Claudia Principal CPA. All rights reserved.</p>
            <a href="https://www.dunosis.com" class="tw-underline">Made by <strong>Dunosis</strong></a>
        </div>

        {% block footer %}{% endblock footer %}
    </footer>
</body>

{% comment %} <script src="{% static "./js/base.js" %}"></script> {% endcomment %}
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    document.cookie = "user_timezone=" + timezone;
</script>
{% comment %} <script src="https://unpkg.com/quill-paste-smart@latest/dist/quill-paste-smart.js"></script> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>

<script>
    const STATIC_URL = "{% settings_value "STATIC_URL" %}" 
</script>

<script src="{% static "./js/utils/elements.js" %}"></script>
<script src="{% static "./js/utils/common.js" %}"></script>
<script src="{% static "./js/utils/images.js" %}"></script>
<script src="{% static "./js/utils/constants.js" %}"></script>

<script src="{% static "./js/base.js" %}"></script>

{% block scripts %}{% endblock scripts %}

</html>