{% extends "base.html" %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="tw-w-full tw-min-h-[100vh]  tw-max-w-[100vw]
                        tw-flex tw-flex-col tw-overflow-hidden tw-relative"
                        id="hero-section"
                        >
            
            <div class="tw-w-full tw-h-full tw-p-[5%] tw-gap-4
                        tw-place-content-center tw-min-h-[100vh]
                        tw-justify-around tw-place-items-center
                        tw-flex max-lg:tw-flex-col">

                <div class="tw-flex tw-flex-col tw-place-content-center tw-max-w-[650px] tw-min-w-[550px] 
                            max-md:tw-min-w-[300px]">
                    <h1 class="tw-text-6xl tw-font-bold tw-uppercase 
                            tw-leading-normal max-md:tw-text-2xl max-md:tw-leading-relaxed tw-mb-[2%]">
                        Servicios Contables Claros y Transparentes
                    </h1>
                    <!-- Section Heading -->
                    <h2 class="tw-text-center tw-text-lg max-md:tw-text-1xl tw-mb-[10%]">
                        We are a full service accounting and tax firm, learn more about our specific services below.
                    </h2>
                    
                    <div class="tw-flex tw-flex-row max-md:tw-flex-col max-md:tw-place-content-around tw-gap-10 tw-justify-center tw-items-start tw-mt-5">

                        <!-- First Service Card -->
                        <div class="tw-flex tw-items-start tw-gap-4">
                        <div class="tw-flex-shrink-0">
                            <div class="tw-bg-black tw-w-[40px] tw-h-[40px] tw-rounded-[100%] tw-flex tw-justify-center tw-items-center">
                            <i class="bi bi-check-lg tw-text-4xl tw-text-white tw-px-[5%]"></i>
                            </div>
                        </div>
                        <div>
                            <h3 class="tw-text-lg tw-font-semibold tw-mb-2">For Individuals</h3>
                            <p class="tw-text-base tw-leading-relaxed">
                            All year we'll tackle tax reduction and tax filing and other personal accounting services.
                            </p>
                        </div>
                        </div>

                        <!-- Second Service Card -->
                        <div class="tw-flex tw-items-start tw-gap-4">
                        <div class="tw-flex-shrink-0">
                            <div class="tw-bg-black tw-w-[40px] tw-h-[40px] tw-rounded-[100%] tw-flex tw-justify-center tw-items-center">
                            <i class="bi bi-check-lg tw-text-4xl tw-text-white"></i>
                            </div>
                        </div>
                        <div>
                            <h3 class="tw-text-lg tw-font-semibold tw-mb-2">For Businesses</h3>
                            <p class="tw-text-base tw-leading-relaxed">
                            We'll handle all the bookkeeping for you and your business as well as outsourced accounting services.
                            </p>
                        </div>
                        </div>

                    </div>
                    
                    <a href="{% url 'contact-us' %}" 
                                        class="btn tw-mt-5 tw-mx-auto 
                                                tw-duration-[0.3s]
                                                tw-transition-transform
                                                hover:tw-translate-x-2
                                                ">
                        <span>Contáctanos Ahora</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>

                <div class="tw-max-w-[750px] 
                            tw-place-content-center
                            tw-place-items-center
                            tw max-md:!tw-mt-10">
                    <div class="tw-rounded-lg tw-overflow-clip tw-shadow-xl hero-image">
                        <img src="{% static './assets/images/home/stlouis.jpg' %}" 
                                alt="dashboard" class="tw-w-full tw-h-full">
                    </div>
                </div>
            </div>
    </section>

    <section class="pricing-section">
        <h2 class="section-title">Precios</h2>
      
        <div class="pricing-cards">
      
          <!-- Pricing Card 1 -->
          <div class="pricing-card">
            <div class="price-card-content">
              <h3 class="price-card-title">Básico</h3>
              <p class="card-price">$250</p>
              <p class="card-period">/mo</p>
              <ul class="card-features">
                <li>• Declaración de impuestos</li>
                <li>• Revisión de deducciones y créditos fiscales</li>
                <li>• Asesoría fiscal básica</li>
                <li>• Preparación y envío electrónico de impuestos</li>
              </ul>
              <a href="{% url 'contact-us' %}" 
                                        class="btn tw-mt-10 tw-mx-auto 
                                                tw-duration-[0.3s]
                                                tw-transition-transform
                                                hover:tw-translate-x-2
                                                ">
                        <span>Contáctanos Ahora</span>
                        <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>
      
          <!-- Pricing Card 2 -->
          <div class="pricing-card">
            <div class="price-card-content">
              <h3 class="price-card-title">Avanzado</h3>
              <p class="card-price">$450</p>
              <p class="card-period">/mo</p>
              <ul class="card-features">
                <li>• Declaración de impuestos</li>
                <li>• Revisión de deducciones y créditos fiscales</li>
                <li>• Asesoría fiscal básica</li>
                <li>• Preparación y envío electrónico de impuestos</li>
              </ul>
              <a href="{% url 'contact-us' %}" 
                                        class="btn tw-mt-10 tw-mx-auto 
                                                tw-duration-[0.3s]
                                                tw-transition-transform
                                                hover:tw-translate-x-2
                                                ">
                        <span>Contáctanos Ahora</span>
                        <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>
      
          <!-- Pricing Card 3 -->
          <div class="pricing-card">
            <div class="price-card-content">
              <h3 class="price-card-title">Premium</h3>
              <p class="card-price">$750</p>
              <p class="card-period">/mo</p>
              <ul class="card-features">
                <li>• Declaración de impuestos</li>
                <li>• Revisión de deducciones y créditos fiscales</li>
                <li>• Asesoría fiscal básica</li>
                <li>• Preparación y envío electrónico de impuestos</li>
              </ul>
              <a href="{% url 'contact-us' %}" 
                                        class="btn tw-mt-10 tw-mx-auto 
                                                tw-duration-[0.3s]
                                                tw-transition-transform
                                                hover:tw-translate-x-2
                                                ">
                        <span>Contáctanos Ahora</span>
                        <i class="bi bi-arrow-right"></i>
                </a>
            </div>
          </div>
          
        </div>
      
        <p class="section-footer">
          Contáctanos para conocer nuestros precios personalizados, tarifas basadas en servicios específicos y tarifas por hora para tus necesidades empresariales.
        </p>
      </section>

      <section class="accordion-section">
        <h2 class="section-title">Servicios Contables</h2>
      
        <!-- Accordion Card 1 (Expanded by default) -->
        <div class="accordion-card expanded" onclick="toggleAccordion(this)">
          <div class="accordion-header">
            <h3 class="accordion-title">Service 1: Accounting Stuff</h3>
            <div class="accordion-icon">
                <span class="toggle-icon">▴</span>
            </div>
          </div>
          <div class="accordion-content">
            <p class="accordion-description"><strong>Service Description</strong><br>
              Description of service 1 and how it's important and why you should do it. Finish with a learn more and click here button.
              <br><br>
              Description of service 1 and how it's important and why you should do it. Finish with a learn more and click here button.
              <br><br>
              Description of service 1 and how it's important and why you should do it. Finish with a learn more and click here button.
            </p>
            <div class="accordion-image">
              <img src="your-image-url.jpg" alt="Service Image">
              <div class="accordion-features">
                <strong>Service Features</strong>
                <ul>
                  <li>• Feature 1</li>
                  <li>• Feature 2</li>
                  <li>• Feature 3</li>
                </ul>
                <ul>
                  <li>• Feature 4</li>
                  <li>• Feature 5</li>
                  <li>• Feature 6</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Accordion Card 2 -->
        <div class="accordion-card" onclick="toggleAccordion(this)">
          <div class="accordion-header">
            <h3 class="accordion-title">Service 2: Accounting Stuff</h3>
            <span class="toggle-icon">▴</span>
          </div>
        </div>
      
        <!-- Accordion Card 3 -->
        <div class="accordion-card" onclick="toggleAccordion(this)">
          <div class="accordion-header">
            <h3 class="accordion-title">Service 3: Accounting Stuff</h3>
            <span class="toggle-icon">▴</span>
          </div>
        </div>
      
        <!-- Accordion Card 4 -->
        <div class="accordion-card" onclick="toggleAccordion(this)">
          <div class="accordion-header">
            <h3 class="accordion-title">Service 4: Accounting Stuff</h3>
            <span class="toggle-icon">▴</span>
          </div>
        </div>
      </section>

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}