@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

    --btn-color: #fdfdfd;/* button color*/
    --btn-bg: #DED0FA;/* button bg color*/

    --primary-text-color: #1d1b1b;

    --primary-bg-color: #EFF2F5;

    --primary-color: #DED0FA;
    --secondary-color: #BEE2EE;
}


html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: var(--primary-bg-color);
    color: #000;
}


header > .collapsable-header{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: inherit;
    place-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.animated-collapse{
    transition: width 0.3s ease;
}


.header-links {
    display: flex;
    align-items: center;
    min-width: fit-content;
    border-radius: 25px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.5s;
}


.header-links:hover {
    color: #fff;
    background-color: #DED0FA;
}


.black-text{
    color: #000;
}

.white-text{
    color: #fff;
}

.primary-text-color{
    color: var(--primary-text-color);
}

.opacity-0{
    opacity: 0 !important;
}

.opacity-100{
    opacity: 100 !important;
}

.btn{
    padding: 10px 15px;
    width: max-content;
    border-radius: 10px;
    color: black;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
    box-shadow: 8px 8px 0.1px 0px var(--primary-color);
}

.btn:disabled{
    cursor: default;
}

.input{
    padding: 10px;
    background-color: transparent;
    /* border-radius: 10px; */
    outline: none;
    min-width: 100px;
    border-bottom: 2px solid #090909;
    transition: border 0.3s;
}

.input:active, .input:focus, .input:focus-within{
    border-bottom: 2px solid #BE3345 !important;
}


.input-error{
    border-bottom: 3px solid #ff1e1e;
}

.input-error:focus-within{
    border-bottom: 3px solid #fd0101;
}

.error-container{
    /* container used to display errors */
    border: 3px solid #F5C6CB;
    background-color: #F8D7DA;
    color: #932504;
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px 10px;
}

.error-container ul{
    list-style: decimal;
}

.error-container li{
    margin-left: 10px;
}

.error-container li > ul  {
    list-style: circle;
}


/* Slideshow container */
.slideshow-container {
    width: 100%;
    /* height: 100%; */
    position: relative;
    margin: auto;
    overflow: hidden;
    display: block;
    height: 100%;
}


/* Next & previous buttons for slideshow */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Navigation dots styling */
.dots-container {
    text-align: center;
    margin-top: 180px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dots-container .active,
.dot:hover {
    background-color: #717171;
}

/* Footer */

footer {
    background-color: var(--primary-bg-color);
    color: #000;
}

.footer-link{
    color: #0d0d0d;
    transition: color 0.3s;
}

.footer-link:hover{
    color: #483cf4;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  .footer-link {
    display: block;
    margin: 10px 0;
  }
  footer img {
    display: block;
    margin: auto;
  }
  footer .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}


.review-container {
    position: relative;
    height: 350px;
    flex-grow: 1;
    max-width: 600px;
    margin-bottom: 20px;
}

.review-slide {
    display: none;
    padding: 20px;
    text-align: center;
}

/* Fading animation */

.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}


.stars {
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
}
.stars .star {
    color: #ccc;
    transition: color 0.2s;
}
.stars .star:hover,
.stars .star.active {
    color: gold;
}

/* --------- collapsible div ---------- */
.collapsible {
    background-color: #f3f0f0;
    color: #2b2929;
    /* cursor: pointer; */
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

/* Style for the collapsible content */
.content {
    padding: 0 18px;
    /* display: none; */
    height: 0px;
    overflow: hidden;
    background-color: transparent;
    transition: height 0.5s;
    text-align: justify;
    margin-top: 10px;
}

/* --------------------- pagination -------------------- */

.pagination{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 5% 5px;
}

.pagination .page-item{
    display: flex;
    font-size: larger;
    padding: 5px 15px;
    border: 1px solid #1e85ec;
    /* background-color: #1e85ec; */
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item:hover{
    color: #fff;
    background-color: #2085e9;
}

.pagination .page-item:disabled{
    background-color: #ebf5ff;
}

.pagination .active{
    color: #fff;
    background-color: #2085e9;
}

/* .pagination .active:hover{
    background-color: #fd7171;
} */


.pagination .disabled{
    color: #babcbd;
    background-color: #e2e2e2;
    border: 1px solid #cccdcf;

}

.pagination .disabled:hover{
    color: #babcbd;
    background-color: #e2e2e2;
    border: 1px solid #cccdcf;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}


@media not all and (min-width: 1024px) {
    header .collapsable-header {
        position: fixed;
        right: 0px;
        flex-direction: column;
        opacity: 0;
        height: 100vh;
        height: 100dvh;
        width: 0vw;
        justify-content: space-between;
        padding: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
        place-items: end;
        background-color: #ffffff;
        color: #000000;
        overflow-y: auto;
        box-shadow: 2px 0px 3px #000;
    }

    .header-links{
        color: black;
    }
    
}

/*  Miscellaneous */

.hero-image {
    height: 900px;
    width: 600px;
    object-fit: cover;
    aspect-ratio: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.hero-image:hover {
    transform: translateY(-10px);
    box-shadow: 8px 10px 0.1px 0 var(--primary-color), 16px 20px 0.1px 0 var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .hero-image {
        height: 750px;
        width: 500px;
    }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.card-container {
    width: 100%;
    max-width: 410px;
    min-width: 300px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
    position: relative;
}

.card-container:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 8px 10px 0.1px 0 var(--primary-color);
            box-shadow: 8px 10px 0.1px 0 var(--primary-color);
}

/* Card content */
.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: relative;
}

.card-container:hover .card-content {
    -webkit-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
            transform: translateY(-150px);
}

.card-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: center;
}

.card-description {
    font-size: 1rem;
    font-weight: 500;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
}

.card-container:hover .card-description {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.card-img {
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Slide-up button */
.card-button {
    background-color: var(--primary-color);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(150%);
        -ms-transform: translateY(150%);
            transform: translateY(150%);
    -webkit-transition: scale 0.4s ease, -webkit-transform 0.4s ease;
    transition: scale 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease, scale 0.4s ease;
    transition: transform 0.4s ease, scale 0.4s ease;
    transition: transform 0.4s ease, scale 0.4s ease, -webkit-transform 0.4s ease;
}

.card-container:hover .card-button {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 8px 10px 0.1px 0 var(--secondary-color);
            box-shadow: 8px 10px 0.1px 0 var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .card-container {
        height: 380px;
    }
    .card-content {
        height: 450px;
    }
    .card-description {
        font-size: 0.95rem;
        -webkit-transform: translateY(80px);
            -ms-transform: translateY(80px);
                transform: translateY(80px);
    }
    .card-title {
        font-size: 1.58rem;
    }
}

.cta-section {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));}

/* Contact From */

.form-container {
    width: auto;
    border-radius: 30px;
    background-color: var(--secondary-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.form-container:hover {
    transform: translateY(-10px);
    box-shadow: 8px 10px 0.1px 0 var(--primary-color);
}

.contact-form {
    margin: auto;
    border-radius: 30px;
    background-color: var(--primary-bg-color) !important;
}

/* Services Section */

.service-tag {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.pricing-section {
    width: 100%;
    padding: 40px 5%;
    text-align: left;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .pricing-cards {
    display: flex;
    flex: 1 1 calc(33.333% - 20px);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
    place-content: space-around;
  }
  
  .pricing-card {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 450px;
  }
  
  .pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 8px 10px 0.1px 0 var(--primary-color);
  }
  
  .price-card-content {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    justify-content: space-around;
  }

  .price-card-content btn {
    margin-bottom: auto;
  }
  
  .price-card-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .price-card-description {
    width: 90%;
    text-align: center;
    margin: 30px auto auto auto;
  }
  
  .card-price {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: auto;
  }
  
  .card-period {
    font-size: 1rem;
    color: gray;
    margin-bottom: auto;
  }
  
  .card-features {
    text-align: left;
    margin: 30px 0 auto 0;
  }
  
  .card-features li {
    margin-bottom: 20px;
  }
  
  .section-footer {
    margin-top: 40px;
    color: gray;
    text-align: center;
  }

  .additional-features {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
    justify-content: space-between;
    margin: 20px auto;
  }

  @media (max-width: 768px) {
    .pricing-section {
      padding: auto;
    }
    .pricing-cards {
      flex-direction: column;
      gap: 30px;
    }
    .pricing-card {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .additional-features {
      flex-direction: row;
    }
  }

  /* Accordion Pricing Section */

  .accordion-section {
    width: 100%;
    padding: 40px 5%;
  }
  
  .accordion-card {
    background-color: var(--secondary-color);
    border-radius: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.6s ease;
    cursor: pointer;
  }

  .accordion-card:hover {
      transform: translateY(-10px);
  }
  
  .accordion-card .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    max-height: 150px;
  }

  .accordion-card .accordion-header .accordion-title {
    padding: 20px;
  }

  .accordion-card .accordion-header .accordion-icon {
    width: 150px;
    height: 200px;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s 0.5s, background-color 0.5s 0.5s;
  }

.accordion-card .accordion-header .accordion-icon:hover {
    box-shadow: -8px 0px 0.1px 0 #b3a6cf;
}

  @media (max-width: 768px) {
    .accordion-card .accordion-header .accordion-icon {
      width: 100px;
    }
    .accordion-card .accordion-content {
      flex-direction: column;
      gap: 30px;
    }
  }
  
  .accordion-card .accordion-content {
    padding: 0 20px;
    max-height: 0;
    display: flex;
    gap: 30px;
    overflow: hidden;
    transition: max-height 0.7s;
  }
  
  .accordion-card.expanded .accordion-content {
    max-height: 4000px;
    display: flex;
    gap: 30px;
  }

  .accordion-card.expanded .accordion-header .accordion-icon {
    background-color: var(--secondary-color);
    box-shadow: -8px 0px 0.1px 0 var(--secondary-color);
  }
  
  .accordion-card .accordion-description {
    margin: 0 0 20px;
    flex: 1 1 50%;
  }
  
  .accordion-card .accordion-image {
    display: flex;
    flex: 1 1 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
    max-height: 700px;
    margin-bottom: 20px;
  }
  
  .accordion-card .accordion-image img {
    max-height: 300px;
    object-fit: cover;
  }
  
  .accordion-card .accordion-features {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
  }

  .accordion-card .accordion-features .additional-features {
    width: 100%;
    
    justify-content: space-around;
    margin: 20px auto;
  }
  
  .accordion-card .accordion-features ul {
    list-style: none;
    padding: 0;
  }
  
  .accordion-card.collapsed .accordion-header {
    background: linear-gradient(to right, #BEE2EE 80%, #E6D3F7 20%);
  }
  
  .accordion-card.expanded .accordion-header {
    background-color: #BEE2EE;
  }

  /* Language Switcher */

  .language-btn {
    font-size: 1rem;
    color: black;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 4px;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .language-btn.active {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: black;
    border-radius: 30px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  @media (max-width: 768px) {
    .language-btn {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
    .language-btn.active {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
  }
